.header{
    text-align: center;
    margin-top: 50px;
}
.phrase{
    text-align: justify;
    justify-content: center;
    margin: 40px;
    font-size: 18px;
    line-height: 2.4;
}
.phrase span{
    color: rgb(6, 114, 238);
}